* {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
	color: black;
}

a, a:hover, a:visited {
	color: #480860;
}

a.paper-title {
	font-weight: 700;
}

em {
	color: black;
}

h1.title {
	background-color: #480860;
	color: white;
	padding: 7px;
	margin-top: 0px;
	font-size: 30px;
	font-weight: 900;
}

h2 {
	font-size: 24px;
	font-weight: 900;
}

.paper {
	margin-bottom: 25px;
}

hr.title-block {
	margin-top: 0px;
	margin-bottom: 20px;
	background: black;
	height: 8px;
}

@media (min-width: 768px) {
	.container {
		max-width: 750px;
	}
}